.app-root{
  font-size: 40px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.header-site{
  text-align: center;
  margin: 0.9375rem;
  background: #263279;
  color: #fff;
  padding: 80px;
}

.app-input {
  font-size: 20px;
  position: relative;
  top:50px;
}

.gallery-header {
  padding-top: 0.9375rem;
}


.gallery-container {
  padding-top: 0.9375rem;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  width: 435px;
  height: 320px;
  object-fit: cover;
  display: block;
  cursor: zoom-in;
}
   
.gallery-thumbnail {
  max-width: 100%;
  max-height:  100%;
  border-radius: 4px;
}

.card-icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all .25s ease-in-out;

  opacity: 0;
  margin: 0;
  position: absolute;
  top:3%;
  left: 70%;
}

.card-icon:hover {
  color: #111;
  opacity:1;
}

.gallery-thumbnail:hover {
  cursor: auto;
}

.gallery-card:hover ~.card-icon {
  opacity:1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 22, 0.582);
}

.modal-body {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 11;
  position: absolute;
  padding: 0;

  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  cursor: pointer;
  right: 0px;
  font-size: 1.5rem;
  color: #fff;
  transition: all .25s ease-in-out;
}

.modal-close:hover {
  color: #fff;
}

.ui.color1.button {
  background-color: #f8f8f8f5;
  color: rgba(34, 20, 20, 0.904);
}
  